@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body, html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.getInTouch {
    animation: spin 10s linear infinite !important;
}
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
